zsh/.zsh/plugins/zsh-syntax-highlighting
mpv/.config/mpv/watch_later
thunar/.config/Thunar/accels.scm
luakit/.local/share/luakit/cookies.*
luakit/.local/share/luakit/history.*
rtv/.config/rtv/refresh-token
rtv/.config/rtv/history.log
*cookie*
*.log
*.swp
*.swo
__pycache__
*.pyo
__init__.py
