# ========================================================= #
# .nanorc                                                   #
# Created by: spcmd                                         #
# Website: http://spcmd.github.io                           #
#          https://github.com/spcmd                         #
#          https://gist.github.com/spcmd                    #
# ========================================================= #

## Constantly display the cursor position in the statusbar.  Note that
## this overrides "quickblank".
set const
