!                                      _
!         ___ _ __   ___ _ __ ___   __| |
!        / __| '_ \ / __| '_ ` _ \ / _` |
!        \__ | |_) | (__| | | | | | (_| |
!        |___| .__/ \___|_| |_| |_|\__,_|
!             |_|
!
!                  .Xresources
!               Created by: spcmd
!           http://spcmd.github.io
!           https://github.com/spcmd
!           https://gist.github.com/spcmd

! ------------------------------------------
! Render setting for cairo -> pango -> gtk
! ------------------------------------------

Xft.dpi:        96
Xft.antialias:  true
Xft.hinting:    true
Xft.rgba:       rgb
Xft.hintstyle:  hintmedium

! ------------------------------------------
! URxvt settings
! ------------------------------------------

URxvt.termName: rxvt-unicode-256color
URxvt.terminalName: rxvt-unicode-256color

! Background: True transparency - Ranger w3m image display will not work when enabled -- using compton setting instead
!URxvt.depth: 32
URxvt.background: [90]#000000

! Foreground
URxvt.foreground: #ffffff

! Fonts
URxvt.font: xft:DejaVu Sans Mono:pixelsize=14:antialias=false:hinting=false,xft:FontAwesome:pixelsize=14
URxvt.letterSpace: -2
URxvt.lineSpace: 1

! Disable scrollbar
URxvt.scrollBar: false

! For Mutt to warn about new e-mails (and set this is the .muttrc: set beep_new)
URxvt.urgentOnBell: true

! Scroll in the pager itself (https://wiki.archlinux.org/index.php/Urxvt#Scrollback_buffer_in_secondary_screen)
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

!------------------------------------------------
! URxvt Perl Extensions
! -----------------------------------------------

! load these extensions
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select

! clipboard
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

! for the Ctrl+Shift bindings to work (https://wiki.archlinux.org/index.php/Urxvt#Changing_font_size_on_the_fly)
URxvt.iso14755: False

! keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate

! url-select
URxvt.keysym.M-f: perl:url-select:select_next
URxvt.url-select.launcher: /home/spcmd/bin/firefox-esr/firefox
URxvt.url-select.button: 1
URxvt.url-select.underline: true

! matcher
!URxvt.url-launcher: /home/spcmd/bin/firefox-esr/firefox
!URxvt.keysym.M-f: perl:matcher:select
!URxvt.matcher.button: 1

! ------------------------------------------
! App icons
! ------------------------------------------
! pixbuf enabled urxvt needed!
! Download at: https://aur.archlinux.org/packages/rxvt-unicode-pixbuf/
! If fonts are messed up, disable the font width and/or line spacing patches in the PKGBUILD

URxvt.iconFile: /home/spcmd/.icons/urxvt.png
ranger.iconFile: /home/spcmd/.icons/ranger.png
rTorrent.iconFile: /home/spcmd/.icons/rtorrent.png
mutt.iconFile: /home/spcmd/.icons/mutt.png
moc.iconFile: /home/spcmd/.icons/moc.png
newsbeuter.iconFile: /home/spcmd/.icons/newsbeuter.png

! ------------------------------------------
! URxvt colors
! ------------------------------------------
! black
URxvt.color0: #000000
URxvt.color8: #121212
! red
URxvt.color1: #DC0000
URxvt.color9: #DC0000
! green
URxvt.color2: #00AA00
URxvt.color10: #00AA00
! yellow
URxvt.color3: #FAE56B
URxvt.color11: #FAE56B
! blue
!URxvt.color4: #71A6B7
!URxvt.color12:#71A6B7
!URxvt.color4: #41A0B9
!URxvt.color12:#41A0B9
URxvt.color4: #4E8EA7
URxvt.color12:#4E8EA7
! magenta
URxvt.color5: #FFA97A
URxvt.color13: #FFA97A
!URxvt.color5: #BDA1C5
!URxvt.color13: #BDA1C5
! cyan
URxvt.color6: #4D7A89
URxvt.color14: #4D7A89
!URxvt.color6: #2FC8C8
!URxvt.color14: #2FC8C8
! white
URxvt.color7: #ffffff
URxvt.color15: #f5f5f5

! ------------------------------------------
! Ranger colors
! ------------------------------------------
! background
ranger.background: [100]#000000
! black
ranger.color0: #000000
ranger.color8: #000000
!ranger.color8: #080808
! red
ranger.color1: #FF434A
ranger.color9: #FF434A
! green
ranger.color2: #46CB50
ranger.color10: #46CB50
! yellow
ranger.color3: #FAE56B
ranger.color11: #FAE56B
! blue
!ranger.color4: #71A6B7
!ranger.color12:#71A6B7
!ranger.color4: #41A0B9
!ranger.color12:#41A0B9
ranger.color4: #4E8EA7
ranger.color12:#4E8EA7
! magenta
!ranger.color5: #BA86C9
!ranger.color13: #BA86C9
ranger.color5: #FFA97A
ranger.color13: #FFA97A
! cyan
ranger.color6: #4D7A89
ranger.color14: #4D7A89
! white
ranger.color7: #ffffff
ranger.color15: #f5f5f5

! ------------------------------------------
! mutt colors
! ------------------------------------------
! background
mutt.background: [100]#080808
! black
mutt.color0: #000000
mutt.color8: #121212
! red
mutt.color1: #DC0000
mutt.color9: #DC0000
! green
mutt.color2: #00AA00
mutt.color10: #00AA00
! yellow
mutt.color3: #FAE56B
mutt.color11: #FAE56B
! blue
mutt.color4: #005577
mutt.color12:#005577
! magenta
mutt.color5: #FFA97A
mutt.color13: #FFA97A
! cyan
mutt.color6: #9E9E9E
mutt.color14: #9E9E9E
! white
mutt.color7: #ffffff
mutt.color15: #f5f5f5

! ------------------------------------------
! newsbeuter colors
! ------------------------------------------
newsbeuter.color0: #000000
newsbeuter.color1: #ffffff
newsbeuter.color2: #9E9E9E
newsbeuter.color3: #005577
newsbeuter.color4: #FAE56B
newsbeuter.color5: #CC181E
newsbeuter.color6: #4B4C29
newsbeuter.color7: #005a00
!bold font
newsbeuter.color9: #ffffff
