/*                                     _
*         ___ _ __   ___ _ __ ___   __| |
*        / __| '_ \ / __| '_ ` _ \ / _` |
*        \__ | |_) | (__| | | | | | (_| |
*        |___| .__/ \___|_| |_| |_|\__,_|
*             |_|
*
*         Simple Flat theme for Firefox
*               Created by: spcmd
*           http://spcmd.github.io
*           https://github.com/spcmd
*           https://gist.github.com/spcmd
*
* Not fully customized!

@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);


/* Blank page color while loading pages 
http://forums.mozillazine.org/viewtopic.php?f=38&t=571141&sid=c413eb487a7a83f16bb7b9b526a9dd9f
*/
 browser { background-color: #151515 !important; }

/* Remove the 1px border under the top panel (remove 'display:none!important' if you want a separator border) */
#navigator-toolbox::after {
  background-color:#2d2d2d!important;
  /*display:none!important;*/
}

/* Top panel background */
#TabsToolbar {
  -moz-appearance:none!important;
  /*background-color:#242424!important;*/
  /* border-bottom:2px solid #00344B!important; */
}

/* Remove toolbarbuttons/icons padding */
toolbarbutton { padding:0!important; }

/* Remove the "hover effect" from toolbar buttons */
:root {
  --toolbarbutton-hover-background: none!important;
  --toolbarbutton-hover-boxshadow: none!important;
  --toolbarbutton-hover-bordercolor: transparent!important;

  --toolbarbutton-active-boxshadow: none!important;
  --toolbarbutton-active-bordercolor: transparent!important;
  --toolbarbutton-active-background: none!important;

  --toolbarbutton-checkedhover-backgroundcolor: none!important;

  --toolbarbutton-combined-boxshadow: none!important;
  --toolbarbutton-combined-backgroundimage: none!important;
}
  
/* ============================ */
/* ====== DOWNLOAD STUFF ====== */
/* ============================ */

/* hide completly */
/*#downloads-button {display:none!important;}*/
  
/* Download icon */
#downloads-button > image {
  background: url("file:///home/spcmd/.config/firefox/download.png")!important;
  background-position: 6px 2px!important;
  background-repeat: no-repeat!important;
  list-style:none!important;
  
}
  
#downloads-indicator-icon {
  background: url("file:///home/spcmd/.config/firefox/download.png")!important;
  background-repeat: no-repeat!important;
  list-style:none!important;
  
}
#downloads-button:hover #downloads-indicator-icon {}  
  

/* ================================= */
/* ====== BOOKMARK ICON STUFF ====== */
/* ================================= */

/* Toolbar: Bookmark icon: remove star */
.box-inherit.toolbarbutton-menubutton-button {display:none!important;}

/* Toolbar: Bookmark list icon */
#bookmarks-menu-button > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
  list-style-image: none!important;
}
#bookmarks-menu-button {
  background: url("file:///home/spcmd/.config/firefox/bookmark.png")!important;
  background-position: 4px 3px!important;
  background-repeat: no-repeat!important;
  width: 18px!important;
  height: 17px!important;
}
#bookmarks-menu-button:hover {}

/* ================================== */
/* ====== BOOKMARKS LIST STUFF ====== */
/* ================================== */
  
/* Hide Bookmark list top arrow */
.panel-arrow {display:none!important;}

/* Sub lists */
.menu-iconic.bookmark-item.subviewbutton menupopup .popup-internal-box {
  -moz-appearance:none!important;
  background:#ededed!important;
  border:1px solid #ccc!important;
}
/* Remove system theme from Sub lists */
.menu-iconic.bookmark-item.subviewbutton menupopup {
  -moz-appearance:none!important;
}
   
/*
   We can open the Bookmark Organizer with Ctrl+Shift+o
   Thus we can clear some stuff from the Bookmarks menu
*/

/* Subscribe to this page */
#BMB_subscribeToPageMenupopup,
#BMB_subscribeToPageMenuitem {display:none!important;}

/* Bookmarks Toolbar menu */
#BMB_bookmarksToolbar {display:none!important;}

/* Unsorted Bookmarks */
#BMB_unsortedBookmarks {display:none!important;}

/* Show all Bookmarks */
#BMB_bookmarksShowAllTop {display:none!important;}

/* View Bookmarks Sidebar */
#BMB_viewBookmarksSidebar {display:none!important;}

/* Show All Bookmarks */
#BMB_bookmarksShowAll {display:none!important;}

/* Separators in the bookmark list -> Not needed */
menuseparator { display: none!important; }

/* ================== */
/* ====== TABS ====== */
/* ================== */

/* Tab width  */
.tabbrowser-tab:not([pinned]) {
  width:100%!important;
  max-width:100%!important;
  min-width:150px!important;
}
  
/* Hide List All Tabs button */
#alltabs-button {display:none!important;}

/* Tab style */
#TabsToolbar .arrowscrollbox-scrollbox { padding: 2px!important; }
#TabsToolbar .tabbrowser-tabs {min-height:24px!important;max-height:24px!important;}
#TabsToolbar .tabbrowser-tab {
  text-shadow: none !important;
  background-clip: padding-box !important;
  /*margin: 1px 1px 1px 0 !important;*/
}


#TabsToolbar .tabbrowser-tab:first-child {
  border-left:solid 1px #2d2d2d!important;
  -moz-border-left-colors: #2d2d2d !important;
  -moz-border-top-colors: #2d2d2d !important;
  -moz-border-right-colors: none !important;
  -moz-border-bottom-colors: none !important;
}

#TabsToolbar .tabbrowser-tab:not(:first-child) {
  -moz-border-top-colors: none !important;
  -moz-border-left-colors: none !important;
  -moz-border-right-colors: none !important;
  -moz-border-bottom-colors: none !important;
  border-left:solid 1px #2d2d2d!important;
}
#TabsToolbar .tabbrowser-tab:last-child { border-right:solid 1px #2d2d2d!important; }

/* Selected Tab */
#TabsToolbar .tabbrowser-tab[selected] { font-weight: bold;}

/* Tab title/label */
.tab-text {text-align:center!important;margin-top:1px!important;}
.tabbrowser-tab:not([selected]) .tab-text.tab-label {  }
.tabbrowser-tab[selected] .tab-text.tab-label {  }

/* Hide Tab close button */
.tab-close-button.close-icon {display:none!important;}

/* Fixing the curved tab style */
#TabsToolbar .tab-background {
  margin: 0 !important;
  background: transparent !important;
}
#TabsToolbar .tab-background-start,
#TabsToolbar .tab-background-end { display: none !important; }
#TabsToolbar .tab-background-middle {
  margin: -4px -2px !important;
  background: transparent !important;
}
#TabsToolbar .tabbrowser-tab:after,
#TabsToolbar .tabbrowser-tab:before { display: none !important; }
#TabsToolbar .tab-throbber:not([pinned]),
#TabsToolbar .tab-icon-image:not([pinned]) { -moz-margin-start: -4px !important; }
.tab-close-button:not([pinned]) { -moz-margin-end: -4px !important; }
#TabsToolbar .toolbarbutton-1 { margin-bottom: -1px !important; }

/* New tab button */
#TabsToolbar .tabs-newtab-button {
  background: url("http://i.imgur.com/Ar9MA40.png")!important;
  background-position: -55px -1px!important;
  width: 12px!important;
  height: 10px!important;
  list-style-image: none !important;
  margin:1px 4px 0 6px!important;
}
#TabsToolbar .tabs-newtab-button:hover {}
  
#TabsToolbar #new-tab-button {
  background: url("http://i.imgur.com/Ar9MA40.png")!important;
  background-position: -55px -1px!important;
  width: 12px!important;
  height: 10px!important;
  list-style-image: none !important;
  margin:2px 4px 0 6px!important;
}
  
/* ========================= */
/* ====== OTHER STUFF ====== */
/* ========================= */

/* Disable statusbar / URL popups at the bottom left corner */
statuspanel {display:none!important;}

/* Remove Context menu items */
#context-selectall, #context-viewbgimage, #context-savepage {display:none!important;}