.fejlec, .lablec, .korhatar {display:none!important;}
#fomusor .musorcim, #fomusor a {color:#da001a!important;}
#fomusor th {background-color: #005689!important;}
.highlight {background: yellow!important;font-size:14px!important;}
